html, body {
    height: 100%;
    overflow-y: auto;
}

.container {
    min-height: 100vh; /* Makes sure it takes at least the full viewport height */
}

.admin-page {
    overflow-y: auto; /* Allows vertical scrolling */
    padding: 20px;
}

.add-category-container{
    width: 100%;
    overflow-y: auto;
}

.category-container{
    overflow-y: auto;
}
