.event-details-container {
    display: flex;
    max-height: 100%;
    transition: margin-left 0.3s;
    overflow-y: auto;
}

.event-details-image {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a 3D effect */
    margin-bottom: 15px; /* Space below the image */
}

.bg-gradient {
    background: linear-gradient(135deg, #4caf50, #087f5b);
}

.shadow-sm {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
