.settings-page {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
}

.user-details-section .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header-section .title {
    font-size: 24px;
    font-weight: bold;
}

.header-section .subtitle {
    color: #6c757d;
    margin-bottom: 10px;
}

.alert {
    background-color: #6f42c1;
    color: white;
}

.notifications-section .notification-item {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.admins-section .admin-avatar,
.danger-zone .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.danger-zone h5 {
    font-size: 18px;
}

.footer-section {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.footer-section .btn {
    width: 120px;
}

/*User Verification Page*/
.user-verification-form-overlay {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.user-verification-form {
    background-color: #ffffff;
    width: 60%;
    height: 90%;
    max-height: 750px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    overflow-y: auto;
}

/*.verify-left {
    background-image: url("../images/verify-bg.jpg");
    !*background-size: cover; !* Ensures the image covers the entire element *!*!
    !*background-repeat: no-repeat; !* Prevents the image from repeating *!*!
    !*background-position: center; !* Centers the image *!*!
}*/
